body {
  background-color: pink;
  color: black;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}
.main-header {
  color: #e7b100;
  height: 30vh;
  width: 50vw;
  margin-left: auto;
  text-align: center;
}
